trigger: none
pool:
    vmImage: 'ubuntu-latest'
variables:
    - group: GitHub
    - group: DEFAULT_PROJECT_SETTINGS

stages:
- stage: Add_and_configure_AZ_DevOps_extension
  jobs:
  - job: Add_and_configure_AZ_DevOps_extension
    steps:
        # Updating the python version available on the linux agent
      - checkout: self
        submodules: true
        persistCredentials: true
      # - script: |
      #     git config --global user.email $(GH_USER_MAIL)
      #     git config --global user.name $(GH_USER_NAME)
        displayName: "Configure git"
      - script: |
          sudo apt-get update
          sudo apt-get -y install tree
      - script: |
            set +e ;
            git clone  https://tomtomweb:$MAPPED_PAT@dev.azure.com/tomtomweb/Nav-Pipeline/_git/docker_project1
        env:
          MAPPED_PAT: $(AZ_PAT)
      - script: |
            tree /home/vsts/work/1/s